<div id="main">
 <div class="palm-page-header">
    <div class="header-icon"></div>
    <div class="header-text">
		  <span x-mojo-loc=''>Extensions</span>
    </div>
  </div>
  
	<div class="palm-group">
		<div class="palm-group-title">Functionality</div>

		<div class="palm-list">
			<div class='palm-row single'>
				<div class='palm-row-wrapper'>
					<div id="AdvancedSettingsButton" x-mojo-element="ToggleButton"></div>
					<div class="title left">Advanced Features</div>
				</div>
			</div>
		</div>
	</div>

	<div class="palm-info-text single" x-mojo-loc=''>
		Advanced system prefs patches need to be installed for advanced features to work!
	</div>

	<div class="palm-group">
		<div class="palm-group-title">Preferences</div>

		<div class="palm-list">
			<div id="SettingsPrefsButton" x-mojo-element="Button"></div>

			<div id="ActionsPrefsButton" x-mojo-element="Button"></div>

			<div id="TriggersPrefsButton" x-mojo-element="Button"></div>
		</div>
	</div>
	
	<div class="palm-info-text single" x-mojo-loc=''>
		Extension configuration is not enabled yet, its coming in Mode Switcher version 2.2.
	</div>
</div>







